
#home {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#active {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#finished {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#final-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#timer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px;
    font-size: large;
}


