
#home {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#active {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#finished {
   display: flex;
   flex-direction: column;
   align-items: center;
}



